<mat-toolbar color="primary" class="my-toolbar"> GO DRIVE
    <button mat-button class="btn1c" (click)="gotoTrainers()"> TRAINERS </button>
    <button mat-button class="btnn" (click)="gotoCustomers()"> CUSTOMER </button>
    <button mat-button class="btnn" (click)="gotoVehicles()"> VEHICLES </button>
    <button mat-button class="btnn" (click)="gotoAnalytics()"> ANALYTICS </button>
    <button mat-button class="logout" (click)="logout()"> LOGOUT </button>
</mat-toolbar>
<br><br><br><br>
<mat-tab-group>
    <mat-tab label="All Trainers List">
        <div>
            <h1 class="left">
                Trainers List
            </h1>

            <div class="clearfix"></div>
        </div>

        <ul>
            <li *ngFor="let trainer of trainers">
                <b>
                    <mat-icon>how_to_reg</mat-icon> {{trainer.Trainer_name}}
                </b>
                <b class="pxl">
                    <mat-icon>call</mat-icon> {{trainer.Mobile_number}}
                </b>
                <!-- <div>ID Proof: {{trainer.Idproof}} </div> -->
                <b class="pxl">Date Of Birth: {{trainer.dob}} </b>
                <button mat-button class="delete" routerLink="/deletetrainer/{{trainer.id}}" (click)="deleteTrainer()">
                    <mat-icon>delete</mat-icon>
                </button>

            </li>
        </ul>

    </mat-tab>

    <mat-tab label="Add new trainer">
        <div>
            <form [formGroup]="trainerForm" (ngSubmit)="addTrainer()">
                <h3 class="center">
                    Trainer Detail
                </h3>
                <table class="all">
                    <input formControlName="id" type="hidden" />
                    <tr>
                        <td><label class="text"> Trainer Name : </label></td>
                        <td>
                            <mat-form-field>
                                <input matInput formControlName="Trainer_name" type="text" placeholder="Trainer Name"
                                    required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="text"> Mobile Number : </label></td>
                        <td>
                            <mat-form-field>
                                <input matInput formControlName="Mobile_number" type="text" placeholder="Mobile Number"
                                    required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="text"> ID Proof : </label></td>
                        <td>
                            <mat-form-field>
                                <input matInput formControlName="Idproof" type="text" placeholder="ID Proof" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="text"> Date Of Birth : </label></td>
                        <td>
                            <mat-form-field>
                                <input matInput formControlName="dob" type="date" placeholder="Date Of Birth" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="text"> Select Car : </label></td>
                        <td>
                            <mat-form-field>
                                <mat-select  formControlName="Car">
                                  <mat-option *ngFor="let car of cars" [value]="car.Vehicle_name">
                                    {{car.Vehicle_name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </td>
                    </tr>
                </table>
                <button type="submit" [disabled]="trainerForm.invalid" class="btn1"> SUBMIT </button>
                <button type="reset" class="btn2"> RESET </button>
            </form>

        </div>


    </mat-tab>


</mat-tab-group>