<mat-toolbar color="primary" class="my-toolbar"> GO DRIVE
    <button mat-button class="login" routerLink="/login"> LOGIN </button>
</mat-toolbar>
<br><br><br><br><br><br>

<form [formGroup]="Recover" (ngSubmit)="resetPassword()">

    <h1 class="center"> Reset Password </h1>
    <table class="all">
        <br>

        <tr>
            <td><label class="text"> E-MAIL : </label></td>
            <td>
                <mat-form-field>
                    <input matInput type="text" formControlName="email" placeholder="Enter Email-ID" required>
                </mat-form-field>
            </td>
        </tr>

    </table>



    <button type="submit" [disabled]="Recover.invalid" class="btn1"> SUBMIT </button>
    <button type="reset" class="btn2"> RESET </button>


</form>