<mat-toolbar color="primary" class="my-toolbar"> GO DRIVE
    <button mat-button class="btn1" (click)="gotoTrainers()"> TRAINERS </button>
    <button mat-button class="btnn" (click)="gotoCustomers()"> CUSTOMER </button>
    <button mat-button class="btnn" (click)="gotoVehicles()"> VEHICLES </button>
    <button mat-button class="btnn" (click)="gotoAnalytics()"> ANALYTICS </button>
    <button mat-button class="logout" (click)="logout()"> LOGOUT </button>
</mat-toolbar>
<br><br><br><br><br>

<div>
    <h2 class="centerTopic">About GO Drive</h2>
</div>
<div>
    <p class="center">GO DRIVE is a leading digital platform for local motor driving service in India. GO DRIVE focuses
        on expert services clustered around home, Life and Self and where the user need is customized.
        Using technology, the platform seeks to understand the user need in detail and matches it to
        verified service professionals.
    </p>
</div>
<div>
    <h2 class="centerTopic"> Vision </h2>
</div>
<div>
    <p class="center"> Create digital platform for booking driving school's appointment for each and every person of
        the city.
    </p>
</div>
<div>
    <h2 class="centerTopic">Mission</h2>
</div>
<div>
    <p class="center">
        The mission of GO DRIVE is simple: connect the people to their desire motor school, make them
        more productive.

    </p>
</div>